{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main id="main">
    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>津営業所</h2>
            </div>
                <!-- ======= Video Section ======= -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/gw27xRe1lCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!-- End Video Section -->
            <br><br>
            <div class="row">
                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                    <div class="team-block bottom">
                        <img src="{% static 'ichiro.jpg' %}"  style="height:100%" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'inbox'%}" class="inbox-icon btn btn-success text-white"><i class="fa fa-comments" aria-hidden="true"></i>メッセージお問い合わせ</a></li>
                            </ul>
                            <span>事業部長</span>
                            <h4>鈴木一郎</h4>
                            <h5>電話番号：080-9999-9999</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                    <div class="team-block bottom">
                        <img src="{% static 'eigyo1.jpg' %}" class="img-responsive" alt="img">
                        <div class="team-content">
                            <ul class="list-unstyled">
                                <li><a href="{% url 'inbox'%}" class="inbox-icon btn btn-success text-white"><i class="fa fa-comments" aria-hidden="true"></i>メッセージお問い合わせ</a></li>
                            </ul>
                            <span>専門相談員</span>
                            <h4>野茂英雄</h4>
                            <h5>電話番号：080-5555-5555</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Team Section -->
    <section id="contact" class="padd-section">
    <div class="container" data-aos="fade-up">
		<div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>〒514-0821 三重県津市垂水686</p>
						<div class="row text-center">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.494899839942!2d136.50565131559392!3d34.692695391153926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60040d37c278712d%3A0xa580041f55c6222c!2z44Op44Kk44OV44O744OG44Kv44OO44K144O844OT44K55rSl!5e0!3m2!1sen!2sjp!4v1620369577448!5m2!1sen!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        				</div>
						<br><br><br>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p>so-kan@life-techno.jp</p>
                    </div>
                    <div>
                        <i class="fa fa-phone"></i>
                        <p>059-226-8219</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock content %}