{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container" data-aos="fade-in">
    <img src="{% static 'logo.jpg'%}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
    <section id="blog" class="padd-sectio">
        <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2 class="border-bottom" style="color: #71c55d;">ウェブカタログ型・予約システム</h2>
            <p class="separator">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                    {{ user.username }}様！
                    <br>今日もお疲れ様です！
                    {% else %}
                    {{ user.username }}様！
                    <br>いつもありがとうございます！
                    {% endif %}
                    <br><br>
                    <a href="{% url 'order' %}" class="btn btn-warning">予約</a>&emsp;
                {% else %}
                <h3><a href="{% url "order" %}"><i class="fa fa-book"style="font-size: 1em;"></i>ウェブカタログを観る</a></h3>
                {% endif %}
            </p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="d-flex justify-content-center">
                {% if user.is_authenticated %}
                {% else %}
                <a href="{% url 'login' %}" class="btn btn-warning">ログイン</a>
                <a href="{% url 'signup' %}" class="btn btn-success" style="background-color:navy;">会員登録</a>
                {% endif %}
            </div>
            <div class="nav-link inbox-icon-container text-center">
                <a href="{% url 'inbox'%}" class="inbox-icon btn btn-success"><i class="fa fa-comments" aria-hidden="true"></i>メッセージお問い合わせ</a>
            </div>
        </div>
    </section>
    </div>
</section>
<!-- End Hero Section -->


{% endblock content %}    