{% extends 'base.html' %}

{% block content %}
<br><br><br><br>
{% if user.is_authenticated %}
<div class="container m-auto text-center" data-aos="fade-down">
    <div class="row m-auto" style="max-width : 400px">
        <div class="col-12">
            <h2 style="color:#2ecc40">メッセージお問い合わせ</h2>
		    <br>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-success mt-3" type="submit">選択</button>
            </form>
        </div>
        <hr class="mt-5">
    </div>
    

    <div class="row m-auto" style="max-width : 400px">
        <div class="col-12">
            <h3 class="m-3" style="color:#2ecc40">メッセージ履歴</h3>
            {% for thread in threads.all %}
                <div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
                    <a href="{% url 'thread' thread.pk %}" class="d-block btn btn-outline-light">お客様：{{ thread.user }}</a>
                    <a href="{% url 'thread' thread.pk %}" target="_blank" class="d-block btn btn-outline-light">相談員：{{ thread.receiver }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="row justify-content-center mt-3 mb-5">
        <h2>ログインが必要です。</h2>
    </div>
{% endif %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
{% endblock content %}