{% extends 'base.html' %}

{% block content %}
<style>
.child-comment {
    margin-left:1rem;
}
</style>
<br><br><br><br><br><br><br><br>
    <div class="container text-center">
        <div class="col-12 border-bottom">
            <strong>{{ post.client.facility }}<strong>&emsp;{{ post.date }}</p>
            {% if post.image %}
            <img style="width:500px" src="{{ post.image.url }}" class="post-image">
            {% endif %}
            <h4>{{ post.body }}</h4>
        </div>
        {% if user.is_authenticated %}
        <div class="col-12 border-bottom mt-5">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success"style="width: 200px;">コメント</button>
            </form>
        </div>
        <a href="{% url 'post'%}" class="btn btn-danger" style="width: 200px;">戻る</a>
        {% endif %}
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3">
        <div class="col-12 border-bottom">
            <p>
                {{ comment.user }}&emsp;{{ comment.date }}{% if request.user == comment.user or user.is_admin or user.is_staff %}
                <a href="{% url 'comment_delete' post.pk comment.pk %}"><i class="fa fa-trash"></i></a>
                {% endif %}
                <br>
                {{ comment.comment }}
            </p>
        {% if user.is_authenticated %}
            <button class="remove-default-btn" style="color:green;" onclick="commentReplyToggle('{{comment.pk}}')"><i class="fa fa-comment"></i>コメント</button>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        </div>
    </div>
    <div class="row justify-content-center d-none" id="{{comment.pk}}">
        <div class="col-12 border-bottom">
            <form method="post" action="{% url 'comment-reply' post.pk comment.pk%}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">コメント</button>
            </form>
        </div>
    </div>
    {% endif %}

    {% for child_comment in comment.children %}
    <div class="row justify-content-center mb-0 child-comment">
        <div class="col-12 border-bottom">
            <p class="post-text">
                {{ child_comment.user }}&emsp;{{ child_comment.date }}
                {% if request.user == comment.user or user.is_admin or user.is_staff %}
                <a href="{% url 'comment_delete' post.pk child_comment.pk %}"><i class="fa fa-trash"></i></a>
                {% endif %}
                <br>
                {{ child_comment.comment }}
            </p>
            {% if user.is_authenticated %}
            <button class="remove-default-btn" style="color:green;" onclick="commentReplyToggle('{{child_comment.pk}}')"><i class="fa fa-comment"></i>コメント</button>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <hr>
            <div class="row justify-content-center d-none" id="{{child_comment.pk}}">
                <div class="col-12 border-bottom">
                    <form method="post" action="{% url 'comment-reply' post.pk comment.pk%}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success"style="width:70%">コメント</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}

<script>
function commentReplyToggle(parent_id){
    const row = document.getElementById(parent_id);
    if (row.classList.contains('d-none')){
        row.classList.remove('d-none');
    } else{
        row.classList.add('d-none');
    }
}
</script>
{% endblock content %}