{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.carousel, .carousel-inner, .carousel-item, .active {
    height: 50vh;
}

.pic1, .pic2, .pic3 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pic1 {
  background-image: url(https://static.pexels.com/photos/356844/pexels-photo-356844.jpeg);
}

.pic2 {
  background-image: url(https://static.pexels.com/photos/221315/pexels-photo-221315.jpeg);
}

.pic3 {
  background-image: url(https://static.pexels.com/photos/161820/monument-valley-west-western-161820.jpeg);
}

textarea{width:100%;}
</style>

<div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carousel-example-generic" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>

  <!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="pic1">
        <div class="carousel-caption">
            <h1>一番目の画面</h1>
            <h4>カテゴリー型・簡単予約ウェブサイト！気軽にご覧ください。</h4>
            <br>
            <a href="{% url 'order' %}"><button type="button" class="btn btn-info">予約システム</button></a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
        <div class="pic2">
            <div class="carousel-caption">
                <h1>二番目の画面</h1>
                <h4>お客様の複雑な手続きを省けて個人情報も保護する簡単メッセージお問い合わせシステム</h4>
                <br>
                <a href="{% url 'inbox' %}"><button type="button" class="btn btn-info">メッセージ</button></a>
            </div>
        </div>
    </div>

    <div class="carousel-item">
        <div class="pic3">
            <div class="carousel-caption">
                <h1>三番目の画面</h1>
                <h4>専門相談員が迅速かつ丁寧にお伝えいたします。</h4>
                <br>
                <a href="http://prestwickcodes.org/"><button type="button" class="btn btn-info">Click for more information</button></a>
            </div>
        </div>
    </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carousel-example-generic" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel-example-generic" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>


</div>


<style>
.wrapper {
	max-width: 1200px;
	margin: auto;
	margin-top: 80px;
}

.tab-wrapper {
	text-align: center;
	display: block;
	margin: auto;
	max-width: 1000px;
}

.tabs {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.tab-link {
    height: 50px;
	margin: 0 1%;
	list-style: none;
	padding: 10px 40px;
	color: #aaa;
	cursor: pointer;
	font-weight: 700;
	transition: all ease 0.5s;
	border-bottom: solid 3px rgba(255, 255, 255, 0);
	letter-spacing: 1px;
}

.tab-link:hover {
	color: #999;
	border-color: #999;
}

.tab-link.active {
	color: #333;
	border-color: #333;
}

.tab-link:nth-of-type(1).active {
	color: #EE6534;
	border-color: #EE6534;
}

.tab-link:nth-of-type(2).active {
	color: #1790D2;
	border-color: #1790D2;
}

.tab-link:nth-of-type(3).active {
	color: #EEC63B;
	border-color: #EEC63B;
}

.content-wrapper {
	padding: 40px 80px;
}

.tab-content {
	display: none;
	text-align: center;
	color: #888;
	font-weight: 300;
	font-size: 15px;
	opacity: 0;
	transform: translateY(15px);
	animation: fadeIn 0.5s ease 1 forwards;
}

.tab-content.active {
	display: block;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
		transform: none;
	}
}

</style>

<div class="wrapper">
    <div class="tab-wrapper">
        <ul class="tabs">
            <li class="tab-link active" data-tab="1">津営業所</li>
            <li class="tab-link" data-tab="2">営業所からの便り</li>
            <li class="tab-link" data-tab="3">お問い合わせ</li>
        </ul>
    </div>
    <div class="content-wrapper">
        <div id="tab-1"class="tab-content active">
            <iframe style="width:100%" height="400" src="https://www.youtube.com/embed/gw27xRe1lCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <section id="team" class="padd-section text-center">
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <div data-aos="zoom-in" data-aos-delay="100">
                            <div class="team-block bottom">
                                <img src="{% static 'ichiro.jpg' %}"  style="height:100%" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <span>事業部長</span>
                                    <h4>鈴木一郎</h4>
                                    <h5>電話番号：080-9999-9999</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div data-aos="zoom-in" data-aos-delay="100">
                            <div class="team-block bottom">
                                <img src="{% static 'ichiro.jpg' %}"  style="height:100%" class="img-responsive" alt="img">
                                <div class="team-content">
                                    <span>事業部長</span>
                                    <h4>鈴木一郎</h4>
                                    <h5>電話番号：080-9999-9999</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="tab-2" class="tab-content">
            <div class="container-fluid" data-aos="slide-right" data-aos-delay="100">
                <div class="row text-center">
                    <h2>《津営業所の便り》</h2>
                    <hr>
                    {% if user.is_staff %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">作成</button>
                    </form>
                </div>
                <hr>
                {% endif %}
                {% for post in posts %}
                <div class="col-lg-12" data-aos="slide-left" data-aos-delay="500">
                    <h2>{{ post.date }}
                        {% if request.user == post.user or  user.is_staff%}
                        <a href="{% url 'post_edit' post.pk %}"><i class="fa fa-edit"></i></a><a href="{% url 'post_delete' post.pk %}"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </h2>
                    <p>{{ post.body }}</p>
                    {% if post.image.count > 0 %}
                    <div class="row">
                        {% for img in post.image.all %}
                        <div class="col-12">
                            <img src="{{img.image.url}}" style="height:250px; max-width:400px; border-radius: 10%;"/>
                        </div>
                        {% endfor %}
                        <hr>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="tab-3" class="tab-content">
            <section id="contact" class="padd-section mt-0 pt-0">
                <div class="info">
                    <div class="infobox text-center mt-5" >
                        <a href="{% url 'inbox'%}" class="inbox-icon btn btn-success mb-5"><i class="fa fa-comments"></i>メッセージお問い合わせ</a>
                        <div class="row">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.494899839942!2d136.50565131559392!3d34.692695391153926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60040d37c278712d%3A0xa580041f55c6222c!2z44Op44Kk44OV44O744OG44Kv44OO44K144O844OT44K55rSl!5e0!3m2!1sen!2sjp!4v1620369577448!5m2!1sen!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>
                        <div class="row">
                            <p><i class="fa fa-map-marker">〒514-0821 三重県津市垂水686</i></p>
                            <p><i class="fa fa-envelope">so-kan@life-techno.jp</i></p>
                            <p><i class="fa fa-phone">059-226-8219</i></p>
                        </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script>
$('.tab-link').click( function() {
	var tabID = $(this).attr('data-tab');
	$(this).addClass('active').siblings().removeClass('active');
	$('#tab-'+tabID).addClass('active').siblings().removeClass('active');
});
</script>

{% endblock content %}