{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <a href="{% url 'home'%}" class="btn btn-success">戻る</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-12">
        <h3>{{ user.username }}</h3>
            
            {% if request.user == user %}
                <a href="{% url 'profile_edit' user.client.pk %}"><i class="fa fa-edit"></i></a>
            {% endif %}
                
        <br>
        <h3>{{ client.facility }}</h3>
        <br>
        <h3>{{ user.email }}</h3>
        <br>
        <h3>{{ client.phone }}</h3>
        </div>
    </div>

    {% for post in posts %}
        <a href="{% url 'post_detail' post.pk %}">{{ post.body }}</a>
        {{ post.date }}
        <br><br>
    {% endfor %}
        
</div>

{% endblock content %}
    