{% extends 'base.html' %}


{% block content %}
<style>
.empty-text{
    color: #777:
    font: size 1.5rem;
    text-align: center;
}
.sent-message{
    background-color: #2ECC40;
    color: #fff;
    border-radius: 30px;
    padding:10px 25px;
    width:40%;
}
.received-message{
    background-color: #7FDBFF;
    color: #fff;
    border-radius: 30px;
    padding: 10px 25px;
    width:40%;
    float: right;
}
</style>

<div class="container">
    <div class="row m-auto" style="max-width : 600px">
        <div class="card col-12 mt-5 p-3 shadow-sm">
            {% if thread.receiver == request.user %}
                <h5>{{ thread.user }}</h5>
            {% else %}
                <h5>{{ thread.receiver }}</h5>
            {% endif %}
        </div>
    </div>
    
    {% if message_list.all.count == 0 %}
    <div class="row m-auto" style="max-width : 600px">
        <div class="div class="row m-auto" style="max-width : 600px"">
            <p class="empty-text">メッセージなし</p>
        </div>
    </div>
    {% endif %}

    {% for message in message_list %}
    <div class="row m-auto" style="max-width : 600px">
        <div class="col-12 my-1">
            {% if message.sender_user == request.user %}
                <div class="sent-message my-3">
                    {{ message.body }}
                    <p style="font-size:3px;">-{{ message.date }}-</p>
                </div>
            {% elif message.receiver_user == request.user %}
                <div class="received-message my-3">
                    {{ message.body }}
                    <p style="font-size:3px;">-{{ message.date }}-</p>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <div class="row m-auto" style="max-width : 600px">
        <div class="card col-12 p-3 shadow-sm">
            <form method="post" action="{% url 'create-message' thread.pk%}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-info mt-3" type="submit">メッセージ送信</button>
            </form>
        </div>
    </div>
    <br>

</div>

{% endblock content %}
    