  
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
.checkbox-wrap {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-wrap input {
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

.checkmark:after {
  content: "\f1db";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.6s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f058";
  font-family: "FontAwesome";
  color: #a8c66c;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.floating-btn {
	border-radius: 26.5px;
	background-color: #a8c66c;
	border: 1px solid #a8c66c;
	box-shadow: 0 22px 22px -12px #a8c66c;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #a8c66c;
}

.floating-btn:focus {
	outline: none;
}

#slideOut {
  position: fixed;
  width: 400px;
  height: 800px;
  top: 380px;
  right: -400px;
  /* Animation  */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


/* Display slideOut */

.showSlideOut {
  right: 0px !important;
}


/* Tab */

.slideOutTab {
  margin-top: 250px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #F2AB34;
  border-radius: 15px 0px 0px 15px
}

.slideOutTab div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #F2AB34;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}


/* None relevant included styling */

body,
html {
  overflow: visible;
  height: 100%;
  width: 100%;
}



section {
  height: 100%;
  width: 100%;
}

.modal-body {
  height: 400px;
}

section {
    display: table;
    width: 100%;
    height: 100%;
}
 .intro {
        display: table-cell;
        vertical-align: middle;
 
      }

</style>


{% if messages %}
  <ul class="messages">
         {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
  </ul>
  {% endif %}
<br>
<form method="GET">
  <div class="form-group col-md-4">
    <select name="category" id="category" class="form-control">
      <option selected>品目を選択してください</option>
      {% for category in categories %}
        <option value="{{category}}">{{ category }}</option>
      {% endfor %}
    </select>
    <button style="display:none;" type="submit" class="btn btn-primary mode">選択</button>
  </div>
</form>

<script>
$('#category').change(function(){ 
    jQuery('.mode').click();
});
</script>
<!-- // SlideOut -->
<div id="slideOut" style="z-index: 2;">
<!--   // Tab -->
  <div class="slideOutTab">
    <div>
    
      <p><i style="width:30px;" class="fa fa-shopping-cart" aria-hidden="true"></i>&emsp;カートを開く</p>
    </div>
  </div>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">カート目録</h4>
    </div>
    <div class="modal-body">
      <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">商品名</th>
                <th scope="col">単価</th>
                <th scope="col">数量</th>
                <th scope="col">削除</th>
                <th scope="col">値段</th>
            </tr>
        </thead>
        <tbody>
        {% for order in unorders %}
          <tr>
            <td>{{ order.items.name }}</td>
            <td>{{ order.items.price }}円</td>
            <td>{{ order.quantity }}</td>
            <td><a href="{% url 'remove_from_cart' order.items.pk %}">
        <i class="fa fa-minus mr-2"></i></a></td>
            <td>{{ order.get_total_item_price }}円</td>
          </tr>
        {% endfor %}
        </tbody>
          <tfoot>
            <tr>
              <td>合計：</td>
              <td></td>
              <td></td>
              <td></td>
              
              <td>{{unpaid_orders.get_total}}円</td>
            </tr>
          </tfoot>
        </table>
      <br><br>
      <a href="{% url 'cart' %}">
        <i style="font-size: 3rem;" class="fa fa-book mr-2"></i></a>
    </div>
  </div>
</div>


<a href="#header" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <form method="POST">
            {% csrf_token %}
            <section id="about-us" class="about-us padd-section">
                {% for item in items %}
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="hit-the-floor">{{ item.name }}</div>
                                    {% if item.image %}
                                    <img class="rounded center-block" src="{{ item.image.url }}" style="width: 300px;"/>
                                    {% endif %}
                                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                                        <div class="form-group form-check">
                                            <label class="checkbox-wrap form-check-label">選択
                                            <input onclick="selectOnlyThis(this.id)" type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
						                    <span class="checkmark"></span>
						                    </label>
                                            <h3>{{ item.price }}円（自己負担は1割分/月額）</h3>
                                            <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right"></i>{{ item.description }}</li>
                                            </ul>
                                        </div>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        </div>
    </div>
</div> 


{% if items.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if items.has_previous %}
      <li class="m-2"><a class="p-3" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="m-2 disabled"><span class="p-3">&laquo;</span></li>
    {% endif %}
    {% for i in items.paginator.page_range %}
      {% if items.number == i %}
        <li class="m-2 active"><span class="p-3">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="m-2"><a class="p-3" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if items.has_next %}
      <li class="m-2"><a class="p-3" href="?page={{ items.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="m-2 disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

<button type="submit" class="floating-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&emsp;カートに入れる</button>
</form>

<script>
$("input:checkbox").click(function() {
    if ($(this).is(":checked")) {
        var group = "input:checkbox[name='" + $(this).attr("name") + "']";
        $(group).prop("checked", false);
        $(this).prop("checked", true);
    } else {
        $(this).prop("checked", false);
    }
});

this.$slideOut = $('#slideOut');

// Slideout show
this.$slideOut.find('.slideOutTab').on('click', function() {
  $("#slideOut").toggleClass('showSlideOut');
});
</script>
{% endblock content %}