{% extends 'base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>予約完了</h1>
            <p>メールをお送りしましたので、ご確認してください</p>
            <a href="{% url 'home' %}">ホーム画面に戻る</a>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">予約内容</h3>
            <p class="font-weight-bold pt-4">予約者：{{user.username}}様</p>
            <p class="font-weight-bold pt-4">予約日付：{{order.created_on}}</p>
            <p class="font-weight-bold pt-4">品目：{{description}}</p>
            <p class="font-weight-bold pt-4">合計：{{price}}円</p>
        </div>
    </div>
</div>
{% endblock content %}