  
{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if messages %}
  <ul class="messages">
         {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
  </ul>
  {% endif %}

<a href="#header" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <form method="POST">
            {% csrf_token %}
            <section id="about-us" class="about-us padd-section">
            <h3 class="text-center">車いす</h3>
                {% for item in wheelchair %}
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="hit-the-floor">{{ item.name }}</div>
                                    {% if item.image %}
                                    <img class="rounded center-block" src="{{ item.image.url }}" style="width: 300px;"/>
                                    {% endif %}
                                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
                                            <h4><span><label class="form-check-label">選択</label></span></h4>
                                            <h3>{{ item.price }}円（自己負担は1割分/月額）</h3>
                                        </div>
                                        &emsp;
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right"></i>{{ item.description }}</li>
                                        </ul>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            <h3 class="text-center">手すり</h3>
                {% for item in handrail %}
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="hit-the-floor">{{ item.name }}</div>
                                    {% if item.image %}
                                    <img class="rounded center-block" src="{{ item.image.url }}" style="width: 300px;"/>
                                    {% endif %}
                                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                                        <div class="form-group form-check">
                                            <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
                                            <h4><span><label class="form-check-label">選択</label></span></h4>
                                            <h3>{{ item.price }}円（自己負担は1割分/月額）</h3>
                                        </div>
                                        &emsp;
                                        <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right"></i>{{ item.description }}</li>
                                        </ul>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">お名前</label>
                            <input required type="text" id="name_id" placeholder="桃太郎" class="form-control" name="name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="email">メールアドレス</label>
                            <input required type="text" id="email_id" placeholder="example@example.com" class="form-control" name="email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="phone">電話番号</label>
                            <input required type="text" id="phone_id" placeholder="050-555-9999" class="form-control" name="phone">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="facility">施設</label>
                            <input required type="text" id="facility_id" placeholder="○○ケアホーム" class="form-control" name="facility">
                        </div>
                    </div>
                </div>

                    
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                        <button type="submit" class="btn btn-primary">予約</button>
                      </div>
            </form>
        </div>
    </div>
</div> 



<script>
var name = " {{ user.username }}";
document.getElementById("name_id").value = name;
var email = " {{ user.email }}";
document.getElementById("email_id").value = email;
var phone = " {{ user.client.phone }}";
document.getElementById("phone_id").value = phone;
var facility = " {{ user.client.facility }}";
document.getElementById("facility_id").value = facility;
</script>
{% endblock content %}