{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
.checkbox-wrap {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.checkbox-wrap input {
  opacity: 0;
  cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0; }

.checkmark:after {
  content: "\f1db";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.6s; }
  @media (prefers-reduced-motion: reduce) {
    .checkmark:after {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f058";
  font-family: "FontAwesome";
  color: #a8c66c;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.floating-btn {
	border-radius: 26.5px;
	background-color: #a8c66c;
	border: 1px solid #a8c66c;
	box-shadow: 0 22px 22px -12px #a8c66c;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
	background-color: #ffffff;
	color: #a8c66c;
}

#slideOut {
  position: fixed;
  width: 400px;
  height: 800px;
  top:2000px;
  right:0%;

  /* Animation  */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.1, 0.5, 0.5, 0.5);
}

/* Display slideOut */

.showSlideOut {
  top: 25% !important;
}


/* Tab */

.slideOutTab {
  position: fixed;
  height: 30px;
  right: 0%;
  width: 200px;
  bottom:80px;
  color: gold;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #06D85F;
  border-radius: 15px 0px 0px 15px
}

.slideOutTab:hover {
	background-color: gold;
	color: #a8c66c;
  cursor: pointer;
}

.slideOutTab div {
  text-align: center;
  position: relative;
  {% comment %} -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg); {% endcomment %}
}

section {
  height: 100%;
  width: 100%;
  left: 300px;

}

.modal-body {
  height: 400px;
}

section {
    display: table;
    width: 100%;
    height: 100%;
}
 .intro {
        display: table-cell;
        vertical-align: middle;
      }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

.social-panel-container {
	position: fixed;
	up: 80px;
  z-index: 1;
}

.social-panel {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px #06D85F;
	border: 5px solid #06D85F;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 169px;	
	width: 430px;
	max-width: calc(100% - 10px);
}

.social-panel p {
	background-color: #06D85F;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 18px;
	padding: 2px 17px 6px;
	top: 0;
  left: 17%;
	margin: 0;
	text-align: center;
	width: 235px;
  position: absolute;
}

.social-panel h4 {
	margin: 20px 0;
	color: #06D85F;	
  padding: 20px;
	font-size: 30px;	
	line-height: 30px;
  text-align: center;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: clip;

}
@media only screen and (max-height: 800px), only screen and (max-device-height: 800px) {
#slideOut {
  position: fixed;
  width: 400px;
  height: 800px;
  top:2000px;
  right:0%;

  /* Animation  */
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.3, 0.5, 0.5, 0.5);
}

/* Display slideOut */

.showSlideOut {
  top: 5% !important;
}
    }
@media only screen and (max-height: 600px), only screen and (max-device-height: 600px) {
.modal-body {
  height: 100px;
}
.table {
  display:none;
}
    }
</style>



<br>
{% if messages %}
<div class="social-panel-container">
	<div  class="social-panel">
		<p><i class="fa fa-message"></i>メッセージ</a></p>
    {% for message in messages %}
    <br>
    <h4 id="message_container" class="{{ message.tags }} slide">{{ message }}</h4>
    {% endfor %}
	</div>
</div>
{% endif %}

<script>
$("#maxPrice").on('blur', function() {
  var _min = $(this).attr('min');
  var _max = $(this).attr('max');
  var _value = $(this).val()
  if(_value < parseInt(_min) || _value > parseInt(_max)){
    alert("最大値段は"+_max+"円です。")
    $(this).val(_max);
    $(this).focus();
    $("#rangeInput").val(_max);
    return false;
  }
})
$(function(){
    setTimeout(function(){
        $(".social-panel-container").animate({width:'toggle'},350);
    },2000);
});
</script>

<form method="GET">
  <div class="card mb-4">
    <h5 class="card-header" style="background-color: #E0E9D6;">品名</h5>
      <div class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="form-group col-md-4">
              <input class="form-control py-2 border-right-0 border" type="search" name="name" placeholder="品名を入力してください">
            </div>
        </li>
      </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header" style="background-color: #E0E9D6;">詳細条件</h5>
      <div class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="form-group col-md-4">
              <input class="form-control py-2 border-right-0 border" type="search" name="detail" placeholder="詳細条件を入力してください">
            </div>
        </li>
      </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header" style="background-color: #E0E9D6;">品目</h5>
      <div class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="form-group col-md-4">
              <select name="category" id="category" class="form-control">
                <option selected>全ての品目</option>
                {% for category in categories %}
                  <option value="{{category}}">{{ category }}</option>
                {% endfor %}
              </select>
            </div>
        </li>
      </div>
  </div>
  <div class="card mb-4">
    <h5 class="card-header" style="background-color: #E0E9D6;">値段</h5>
        <div class="list-group list-group-flush">
          <li class="list-group-item">
            <input type="range" value="10000"　id="rangeInput" oninput="maxPrice.value=this.value"　min="0" max="10000" style="width:80%">
          </li>
          <li class="list-group-item">
            最高単価：<input type="number" value="10000" style="width:20%; font-size:20px;" onkeyup="rangeInput.value=this.value" id="maxPrice" name="maxPrice" min="0" max="10000">円
            （限度額：１万円）
            <button id="priceFilterBtn" class="btn btn-info btn-sm">検索</button>
          </li>
        </div>
  </div>
</form>



<!-- // SlideOut -->
<div id="slideOut" style="z-index: 2;">
<!--   // Tab -->
  <div class="slideOutTab">
  <div class="p-10" ><i style="width:30px;" class="fa fa-shopping-cart" aria-hidden="true"></i>&emsp;カートを開く</div>
  </div>

  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">カート目録</h4>
    </div>
    <div class="modal-body">
    
{% if order_item %}
{% if user.is_authenticated %}
      <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">商品名</th>
                <th scope="col">単価</th>
                <th scope="col">数量</th>
                <th scope="col">削除</th>
                <th scope="col">値段</th>
            </tr>
        </thead>
        <tbody>
        {% for order in order_item %}
          <tr>
            <td>{{ order.items.name }}</td>
            <td>{{ order.items.price }}円</td>
            <td>{{ order.quantity }}</td>
            <td><a href="{% url 'remove_from_cart' order.items.pk %}">
            <i class="fa fa-minus mr-2"></i></a></td>
            <td>{{ order.get_total_item_price }}円</td>
          </tr>
        {% endfor %}
        </tbody>
          <tfoot>
            <tr>
              <td>合計：</td>
              <td></td>
              <td></td>
              <td></td>
              <td>{{price}}円</td>
            </tr>
          </tfoot>
        </table>
      <div class="container text-center" style="position: absolute; bottom: 10px;">
        <a href="{% url 'cart' %}"><i style="font-size: 3rem;" class="fa fa-book mr-2"></i>予約確認</a>
      </div>
  {% else %}
    ログインが必要です。
  {% endif %}
  {% else %}
  カートへなにも入っていません。
{% endif %}

    </div>
  </div>

</div>


{% if items %}
<a href="#header" class="back-to-top"><i class="fas fa-level-up-alt"></i></a>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <form method="POST">
            {% csrf_token %}
            <section id="about-us" class="about-us padd-section">
                {% for item in items %}
                {% if item.quantity > 0 %}
                <div class="container" data-aos="fade-up">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="row">
                                <div class="hit-the-floor pb-5">{{ item.name }}</div>
                                    {% if item.image %}
                                    <img class="rounded center-block" src="{{ item.image.url }}" style="width: 300px;"/>
                                    {% endif %}
                                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">
                                        <div class="form-group form-check">
                                            <label class="checkbox-wrap form-check-label" id="onetarget">選択
                                            <input onclick="selectOnlyThis(this.id)" type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
						                    <span class="checkmark"></span>
						                    </label>
                                            <h3>{{ item.price }}円（自己負担は1の場合/月額）</h3>
                                            <ul class="list-unstyled">
                                            <li><i class="fa fa-angle-right"></i>{{ item.description }}</li>
                                            </ul>
                                        </div>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>
</div> 
{% else %}
<br><br><br>
<div class="container text-center" data-aos="fade-up">
申し訳ありません。
<br><br>
条件に一致している商品がありません。
<br><br>条件をもう一度確認してください。
</div>
{% endif %}


{% if items.has_other_pages %}
  <ul class="pagination justify-content-center">
    {% if items.has_previous %}
      <li class="m-2"><a class="p-3" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="m-2 disabled"><span class="p-3">&laquo;</span></li>
    {% endif %}
    {% for i in items.paginator.page_range %}
      {% if items.number == i %}
        <li class="m-2 active"><span class="p-3">{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="m-2"><a class="p-3" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if items.has_next %}
      <li class="m-2"><a class="p-3" href="?page={{ items.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="m-2 disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
<br><br><br>
{% if user.is_authenticated %}
<button type="submit" id="one" class="floating-btn"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&emsp;カートに入れる</button>
{% else %}
<a href="{% url 'login' %}" class="floating-btn">ログインして予約</a>
{% endif %}
  
</form>

<script>
$("input:checkbox").click(function() {
    if ($(this).is(":checked")) {
        var group = "input:checkbox[name='" + $(this).attr("name") + "']";
        $(group).prop("checked", false);
        $(this).prop("checked", true);
    } else {
        $(this).prop("checked", false);
    }
});

this.$slideOut = $('#slideOut');

// Slideout show
this.$slideOut.find('.slideOutTab').on('click', function() {
  $("#slideOut").toggleClass('showSlideOut');
});

$("#one").click(function(){
    if($('#onetarget input:checked').length == 0)
    {
        alert('カートに入れる品目を選んでください。');
        return false;
    }
    
});
</script>
{% endblock content %}