{% extends 'dashboard/base.html' %}
{% block content %}
{% include 'dashboard/top.html' %}
<br>
<div class="row card text-center" data-aos="slide-right" data-aos-delay="300">
  <h1>《設定時刻》</h1>
  {% if year%}
    <h2>年度:&nbsp;{{ year }}｜月:&nbsp;{{ month }}</h2>
  {% else %}
    <h2>現在時刻</h2>
  {% endif %}
    <div class="d-flex justify-content-center" >
      <form method="GET" style="max-width : 400px;">
        <select class="form-control" name="year">
          <option value="今年" selected>年度を選択してください</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
        </select>
        <select class="form-control" name="month">
          <option value="今月" selected>当月を選択してください</option>
          <option value="4">４月</option>
          <option value="5">５月</option>
        </select>
        <select class="form-control" name="category">
          <option value="全体" selected>全体カテゴリー</option>
          <option value="6">車いす</option>
          <option value="8">手すり</option>
        </select>
        <button class="btn btn-info btn-sm">検索（基本設定：今月,　全体項目）</button>
      </form>
    </div>
</div>
  <div class="row">
    <div class="col-md-12 col-xl-4 mt-5">
      <canvas class="mt-5" id="line-chart"></canvas>
    </div>
    <div class="col-md-12 col-xl-4 mt-5">
      <canvas class="mt-5" id="pie-chart"></canvas>
    </div>
    <div class="col-md-12 col-xl-4 mt-5">
      <canvas class="mt-5" id="bar-chart"></canvas>
    </div>
  </div>
  <br>

  <script>
 Chart.defaults.global.defaultFontColor = '#0074D9';
 Chart.defaults.global.defaultFontSize = 18;
Chart.defaults.global.defaultFontFamily = 'Kosugi Maru';

var ctx = document.getElementById('line-chart').getContext('2d');
var LineChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: {{ labels|safe }},
    datasets: [
      
    {label: "取引件数", fill: true,backgroundColor: 'rgb(148, 10, 189, 0.3)', borderColor: 'rgb(148, 103, 189, 0.8)', data: {{ data|safe }},},
    ],
  },
  options: {
    responsive: true,
    title: {display: true, text: '《 日付別｜販売件数 》'},
	  scales: {
      xAxes: [{scaleLabel: {display: true, labelString: '日付'}}],
		  yAxes: [{scaleLabel: {display: true, labelString: '販売件数'},ticks: {min: 0, max:20, stepSize: 5}}],
	  }
  }
});

var ctx = document.getElementById("pie-chart").getContext('2d');
var PieChart = new Chart(ctx, {
  type: 'pie',
  data:{
    labels: {{ pie_label|safe }},
    datasets: [
      {backgroundColor: ['rgb(148, 10, 189, 0.6)','#01FF70'], data: {{ pie_data|safe }}, borderColor:	['black', 'black'],borderWidth: [2,2]}
    ],
  },
  options: {
    plugins: {
      datalabels: {
        formatter: (value, context) =>{const label = context.chart.data.labels[context.dataIndex]
        return `${label}\n${value}円`}
      },
      labels: {
        render: "value",
        precision: 2
      }
    },
    responsive: true,
    title: {display: true, text: '《 カテゴリー別｜販売金額 》'},
	  rotation: -0.8 * Math.PI,
  }
});

var ctx = document.getElementById("bar-chart").getContext("2d");
var BarChart = new Chart(ctx, {
  type: 'bar',
  data:{
		labels : {{ bar_label|safe }}
      ,
		datasets : [
			{
        label:"総金額",
				backgroundColor : "rgb(148, 10, 189, 0.6)",
				borderColor:'black',
				data : {{ bar_data|safe }},
			}
		],
	},
    options: {
    plugins: {
      datalabels: {
        formatter: (value, context) =>{const label = context.chart.data.labels[context.dataIndex]
        return `${label}\n${value}件`}
      },
      labels: {
        render: "value",
        precision: 2
      }
    },
    responsive: true,
    title: {display: true, text: '《 品目別｜販売件数 》'},
	  scales: {
      xAxes: [{scaleLabel: {display: true, labelString: '品目',},}],
		  yAxes: [{scaleLabel: {display: true, labelString: '販売件数'},ticks: {min: 0, stepSize: 5}}],
	  },
  }
});
</script>
{% endblock content %}