{% extends 'dashboard/base.html' %}
{% block content %}
{% include 'dashboard/top.html' %}
    <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                顧客情報
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">顧客情報</span class="h4">
                            <a class="btn btn-info btn-sm float-right" href="{% url 'profile_update' %}">編集</a>
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">お名前</th>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">メール</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">電話</th>
                                <td>{{ user.profile.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">住所</th>
                                <td>{{ user.profile.address }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
    