{% load custom_tags %}
<style>
 .panel {
	 box-sizing: border-box;
	 position: relative;
	 display: inline-block;
	 width: 200px;
	 height: 120px;
	 margin: 5px;
	 font-size: 20px;
	 font-weight: 600;
	 color: #fff;
	 overflow: hidden;
	 border-radius: 8px;
}
 .panel a {
	 position: relative;
	 display: block;
	 padding: 6px 12px 12px 12px;
	 color: #fff;
	 text-decoration: none;
	 z-index: 2;
}
 .panel a span {
	 display: block;
	 font-size: 50px;
	 font-weight: 700;
	 line-height: normal;
}
 .panel:after {
	 position: absolute;
	 font-family: FontAwesome;
	 color: #000000;
	 z-index: 1;
	 transition: all .5s;
	 line-height: normal;
}
 .panel.post {
	 background-color: #b8aa0e;
}
 .panel.post:after {
	 content: "\f15c";
	 font-size: 200px;
	 color: #a5980d;
	 top: 45px;
	 right: 60px;
	 -webkit-transform: rotate(45deg);
	 transform: rotate(45deg);
}
 .panel.post:hover:after {
	 top: 8px;
}
 .panel.catalog {
	 background-color: #F1B24A;
}
 .panel.catalog:after {
	 content: "\f02d";
	 font-size: 200px;
	 color: #F1A10A;
	 top: 45px;
	 right: 60px;
}
 .panel.catalog:hover:after {
	 top: 8px;
}
 .panel.chart {
	 background-color: #FF652F;
}
 .panel.chart:after {
	 content: "\f080";
	 font-size: 200px;
	 color: #F1A10A;
	 top: 45px;
	 right: 25px;
}
 .panel.chart:hover:after {
	 top: 8px;
}
 .panel.comment {
	 background-color: #0377c0;
}
 .panel.comment:after {
	 content: "\f08d";
	 font-size: 180px;
	 color: #036bac;
	 top: 30px;
	 right: 35px;
}
 .panel.comment:hover:after {
	 top: -5px;
}
 .panel.page {
	 background-color: #279824;
}
 .panel.page:after {
	 content: "\f075";
	 font-size: 160px;
	 color: #238820;
	 top: 62px;
	 right: 39px;
}
 .panel.page:hover:after {
	 top: 24px;
}
 .panel.user {
	 background-color: #fc1c3e;
}
 .panel.user:after {
	 content: "\f007";
	 font-size: 200px;
	 color: #ec0326;
	 top: 45px;
	 right: 35px;
}
 .panel.user:hover:after {
	 top: 7px;
}
 .panel:hover:after {
	 transition: all .5s;
}
.bel{
  animation: shake 5s cubic-bezier(.36, .07, .19, .97) both 3;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
</style>
    <div class="row justify-content-center">
        <div class="col-lg-9">
            <div class="card" data-aos="fade-down" data-aos-delay="100">
                <div class="card-header text-white" style="background-color:#123C69">
                    ダッシュボード
                </div>
                <div class="card-body">
                    <div class="panel post">
                        <a href="{% url 'book_list'%}"><span>{{ order_count }}</span>予約リスト</a>
                    </div>
                    <div class="panel comment">
                        <a href="{% url 'permission'%}"><span>{{ permission_count }}</span>承認リスト</a>
                    </div>
                    <div class="panel user">
                        <a href="{% url 'order_list'%}"><span>5</span>貸出リスト</a>
                    </div>
                    <div class="panel page">
                        <a href="{% url 'item'%}"><span>4</span>在庫管理</a>
                    </div>
                    <div class="panel chart">
                        <a href="{% url 'chart' %}"><span>&nbsp;</span>営業実績</a>
                    </div>
                    <div class="panel catalog">
                        <a href="{% url 'home' %}"><span>&nbsp;</span>カタログ</a>
                    </div>
                    <div class="panel catalog">
                        <a href="{% url 'dashboard' %}"><span>&nbsp;</span>管理画面</a>
                    </div>
                    <div class="panel catalog">
                        <a href="{% url 'logout' %}"><span>&nbsp;</span>ログアウト</a>
                    </div>
                </div>
            </div>
        </div>
		<div class="col-lg-1 bel">
			<i style="font-size: 2em; color:gold;" class="fa fa-bell"></i>{% show_notifications %}
		</div>
    </div>