<style>

 .panel {
	 box-sizing: border-box;
	 position: relative;
	 display: inline-block;
	 width: 200px;
	 height: 120px;
	 margin: 5px;
	 font-size: 20px;
	 font-weight: 600;
	 color: #fff;
	 overflow: hidden;
	 border-radius: 8px;
}
 .panel a {
	 position: relative;
	 display: block;
	 padding: 6px 12px 12px 12px;
	 color: #fff;
	 text-decoration: none;
	 z-index: 2;
}

 .panel a span {
	 display: block;
	 font-size: 50px;
	 font-weight: 700;
	 line-height: normal;
}
 .panel:after {
	 position: absolute;
	 font-family: FontAwesome;
	 color: #000000;
	 z-index: 1;
	 transition: all .5s;
	 line-height: normal;
}
 .panel.home {
	 background-color: #9DC88D;
}
 .panel.home:after {
	 content: "\f015";
	 font-size: 200px;
	 color: #9DA08D;
	 top: 25px;
	 right: 20px;
}
 .panel.home:hover:after {
	 top: 0px;
}
 .panel.book {
	 background-color: #b8aa0e;
}
 .panel.book:after {
	 content: "\f15c";
	 font-size: 200px;
	 color: #a5980d;
	 top: 45px;
	 right: 60px;
	 -webkit-transform: rotate(45deg);
	 transform: rotate(45deg);
}
 .panel.book:hover:after {
	 top: 8px;
}
 .panel.catalog {
	 background-color: #F1B24A;
}
 .panel.catalog:after {
	 content: "\f02d";
	 font-size: 200px;
	 color: #F1A10A;
	 top: 45px;
	 right: 60px;
}
 .panel.catalog:hover:after {
	 top: 8px;
}
 .panel.logout {
	 background-color: #ec0356;
}
 .panel.logout:after {
	 content: "\f00d";
	 font-size: 200px;
	 color: #D0014c;
	 top: 25px;
	 right: 40px;
}
 .panel.logout:hover:after {
	 top: -10px;
}
 .panel.chart {
	 background-color: #652F;
}
 .panel.chart:after {
	 content: "\f080";
	 font-size: 200px;
	 color: #F1652F;
	 top: 15px;
	 right: 25px;
}
 .panel.chart:hover:after {
	 top: -15px;
}
 .panel.permit {
	 background-color: #0377c0;
}
 .panel.permit:after {
	 content: "\f08d";
	 font-size: 180px;
	 color: #036bac;
	 top: 25px;
	 right: 20px;
}
 .panel.permit:hover:after {
	 top: -5px;
}
 .panel.rent {
	 background-color: #F13C20;
}
 .panel.rent:after {
	 content: "\f472";
	 font-size: 160px;
	 color: #D01A20;
	 top: 25px;
	 right: 20px;
}
 .panel.rent:hover:after {
	 top: 0px;
}
 .panel.item {
	 background-color: #14A7;
}
 .panel.item:after {
	 content: "\f494";
	 font-size: 160px;
	 color: #7474;
	 top: 25px;
	 right: 20px;
}
 .panel.item:hover:after {
	 top: 0px;
}
 .panel.message {
	 background-color: #279824;
}
 .panel.message:after {
	 content: "\f4ad";
	 font-size: 160px;
	 color: #238820;
	 top: 25px;
	 right: 20px;
}
 .panel.message:hover:after {
	 top: 0px;
}
 .panel.user {
	 background-color: #119466;
}
 .panel.user:after {
	 content: "\f2c1";
	 font-size: 200px;
	 color: #116066;
	 top: 45px;
	 right: 35px;
}
 .panel.user:hover:after {
	 top: 7px;
}
 .panel:hover:after {
	 transition: all .5s;
}
</style>
    <div class="row justify-content-center m-0">
        <div class="col-lg-10">
            <div class="card" data-aos="fade-down" data-aos-delay="100">
                <div class="card-header text-white" style="background-color:#123C69">
                    ダッシュボード
                </div>
                <div class="card-body">
				    <div class="panel home">
                        <a href="{% url 'dashboard' %}"><span>&nbsp;</span>管理ホーム</a>
                    </div>
                    <div class="panel book">
                        <a href="{% url 'book_list'%}"><span>{{ order_count }}</span>予約リスト</a>
                    </div>
                    <div class="panel permit">
                        <a href="{% url 'permission'%}"><span>{{ uncharged_count }}</span>承認リスト</a>
                    </div>
                    <div class="panel rent">
                        <a href="{% url 'order_list'%}"><span>{{ rent_count }}</span>貸出リスト</a>
                    </div>
                    <div class="panel item">
                        <a href="{% url 'item'%}"><span>{{ item_count }}</span>在庫管理</a>
                    </div>
                    <div class="panel chart">
                        <a href="{% url 'chart' %}"><span>&nbsp;</span>営業実績</a>
                    </div>
                    <div class="panel message">
                        <a href="{% url 'inbox'%}"><span>&nbsp;</span>メッセージ</a>
                    </div>
                    <div class="panel user">
                        <a href=""><span>&nbsp;</span>プロファイル</a>
                    </div>
                    <div class="panel catalog">
                        <a href="{% url 'home' %}"><span>&nbsp;</span>カタログ</a>
                    </div>
                    <div class="panel logout">
                        <a href="{% url 'logout' %}"><span>&nbsp;</span>ログアウト</a>
                    </div>
                </div>
            </div>
        </div>
    </div>