   <style>
   .card-body:hover {
    box-shadow: 0 0 25px 0 rgba(20, 27, 201, .05);
    cursor: pointer;
    background-image: linear-gradient(-45deg, rgba(20, 27, 201, .05) 0%, #44a2f6 100%)
}
   </style>
   
    <div class="row">
        <div class="col-md-4 mt-4">
            <div class="card" data-aos="slide-right" data-aos-delay="50">
                <div class="card-header bg-info text-white">
                    アナウンサー
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="">
                        <h3 class="my-4">伊賀ケアホームベット3台</h3>
                    </marquee>
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-4">
            <div class="card" data-aos="slide-left" data-aos-delay="50">
                <div class="card-header bg-info text-white">
                    ダッシュボード
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'permission' %}" style="active">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4>顧客情報 <i class="fas fa-users"></i></h4>
                                        <h3></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'item' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4>在庫管理 <i class="fas fa-box"></i></h4>
                                        <h3></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'order_list' %}">
                                <div class="card my-card shadow">
                                    <div class="card-body text-center">
                                        <h4>予約状況 <i class="fas fa-shipping-fast"></i></h4>
                                        <h3></h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>