{% extends 'dashboard/base.html' %}
{% block content %}
{% include 'dashboard/top.html' %}
<style>
.red{
    color:red;
}
</style>

    <div class="row my-4">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <form class="d-flex" method="GET" action="{% url 'user' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name="query" value="{{ request.GET.query }}">
                    <button class="remove-default-btn" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
            <table class="table bg-white mt-3">
                <thead class="bg-info text-white">
                    <tr>
                        <th scope="col">名前</th>
                        <th scope="col">メール</th>
                        <th scope="col">電話</th>
                        <th scope="col">住所</th>
                        <th scope="col">限度額残量</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.client.phone }}</td>
                        <td>{{ user.client.facility }}</td>
                        <td {% if user.limit.limit < 0 %} class="text-danger" {% endif %}>{{ user.limit.limit }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</script>
{% endblock content %}
    