{% extends 'base.html' %}
{% block content %}
<br><br>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 style="color:gold">ライフテクノサービス</h3><h3>パスワード再設定</h3>
<br><br>
            <p>パスワードお忘れでしょうか？下記のメールアドレスに新しいパスワード作成フォームをお送りいたします。</p>
            <br><br>
            <form method="post">
            {% csrf_token %}
	        {{form}}
	        <input type="Submit" name="Send email">
	        </form>
        </div>
    </div>
</div>

{% endblock content %}
