{% extends 'base.html' %}
{% block content %}
<style>
ul{
    list-style-type: none;
}
.gold{
    color: gold;
}
</style>

<br><br>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h3 class="gold">ライフテクノサービス</h3><h3>パスワード再設定</h3>
            <br><br>
            <p>新しいパスワードを入力してください</p>
            <br>
            <form method="post">

            	{% csrf_token %}
            	{{form}}
            	<input type="Submit" name="Update Password">

            </form>
        </div>
    </div>
</div>

{% endblock content %}
    
